<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
   <body>
	   <form action="/search">
		   <label>
			   <input type="text" name="q"/>
		   </label>
		   <label>
			   <input type="submit" value="Search"/>
		   </label>
	   </form>
   </body>
</html>